<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="div mt-5">
        <h2>Easy and Safe Transaction Tutorial on News-Asix</h2>
      </div>
      <div class="border-content div ms-3 p-3">
        <h3>Secure Transaction with verification</h3>
        <p>
          Verify your account by completing the KYC (Know Your Customer) process
          before making a transaction
        </p>
      </div>
      <div class="border-content div ms-3 p-3">
        <h3>Crypto Transactions Easily</h3>
        <p>Start crypto transactions in 3 easy steps: deposit, buy and sell</p>
      </div>
      <div class="border-content div ms-3 p-3">
        <h3>Withdrawing Profits with Practical</h3>
        <p>
          Enjoy the benefits of withdrawing funds from News-Asix directly to
          your bank account with a variety of methods
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="video"></div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/wN1Uvor4Hd8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Trade on the go. Anywhere, anytime</h1>
      <h6>Stay in the know with our app and desktop client</h6>
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://gdm-catalog-fmapi-prod.imgix.net/ProductScreenshot/cb7b31b9-97cc-4d8c-970a-cec52bc072d9.jpeg?auto=format&q=50"
            alt=""
            width="500px"
          />
        </div>
        <div class="col-md-6">
          <h3 class="text-center">Get the App</h3>
          <div class="row row-app">
            <div class="icon-app col-md-4">
              <i class="bi bi-apple"></i>
              <p>App Store</p>
            </div>
            <div class="col-md-4">
              <i class="bi bi-android"></i>
              <p>Android Apk</p>
            </div>
            <div class="col-md-4">
              <i class="bi bi-google-play"></i>
              <p>Google play</p>
            </div>
            <div class="col-md-4">
              <i class="bi bi-windows"></i>
              <p>Windows</p>
            </div>
            <div class="col-md-4">
              <i class="bi bi-ubuntu"></i>
              <p>Ubuntu</p>
            </div>
            <div class="col-md-4">
              <i class="bi bi-command"></i>
              <p>Mac Os</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
