<div class="container-fluid">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom shadow p-3 mb-5 bg-body rounded"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-hurricane"
        viewBox="0 0 16 16"
      >
        <path
          d="M6.999 2.6A5.5 5.5 0 0 1 15 7.5a.5.5 0 0 0 1 0 6.5 6.5 0 1 0-13 0 5 5 0 0 0 6.001 4.9A5.5 5.5 0 0 1 1 7.5a.5.5 0 0 0-1 0 6.5 6.5 0 1 0 13 0 5 5 0 0 0-6.001-4.9zM10 7.5a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"
        />
      </svg>
      <span class="fs-4"> News-Asix</span>
    </a>

    <ul class="nav nav-header">
      <li class="nav-item">
        <a routerLink="" router class="nav-link text-dark">Beranda</a>
      </li>
      <li class="nav-item">
        <a routerLink="/tentang-kami" class="nav-link text-dark"
          >Tentang Kami</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/artikel" class="nav-link text-dark">Artikel</a>
      </li>
    </ul>
  </header>
</div>
