<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#demo"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://cdn-2.tstatic.net/tribunnews/foto/bank/images/investasi-kripto-ilustrasi-bitcoin.jpg"
        alt="Los Angeles"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://diskominfo.badungkab.go.id/storage/diskominfo/image/ilustrasi-bitcoin-1_169.jpeg"
        alt="Chicago"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://cdn-2.tstatic.net/tribunnews/foto/bank/images/ilustrasi-kripto-bitcoin-gefea.jpg"
        alt="New York"
        class="d-block w-100"
      />
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev bg-dark"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon bg-dark"></span>
  </button>
  <button
    class="carousel-control-next bg-dark"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon bg-dark"></span>
  </button>
</div>

<div class="container">
  <div class="card-group vgr-cards">
    <div class="card">
      <div class="card-img-body">
        <img
          class="card-img"
          src="https://cdn.pixabay.com/photo/2021/04/30/16/47/bnb-6219388_640.png"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium,
          veritatis pariatur ipsum dolore perspiciatis, nesciunt, harum mollitia
          hic consectetur perferendis velit eveniet ipsam vitae rerum nam minima
          excepturi fugit dignissimos quibusdam ipsa. Corporis voluptatum ab rem
          iusto sit impedit mollitia nihil alias nemo, at totam? Assumenda
          doloribus inventore ullam obcaecati.
        </p>
        <a class="btn btn-outline-primary">Read More</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img
          class="card-img"
          src="https://cdn.vox-cdn.com/thumbor/KR6BjCsCe1MGL8daCBHZmEKs_4M=/1400x1050/filters:format(png)/cdn.vox-cdn.com/assets/3727699/Dogecoin_logo.png"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
          dolorem labore, consequuntur dolores, beatae suscipit molestias ipsam
          aperiam ratione ducimus consectetur rerum tenetur necessitatibus, unde
          autem quos eveniet porro facere cum. Assumenda reiciendis similique
          laborum ab recusandae, ipsum beatae, aperiam ipsam fuga voluptates
          illum temporibus fugit adipisci provident obcaecati tenetur!
        </p>
        <a href="#" class="btn btn-outline-primary">Read More</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img
          class="card-img"
          src="https://download.logo.wine/logo/Ethereum/Ethereum-Logo.wine.png"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Necessitatibus labore commodi, itaque, quidem amet corporis delectus
          eum perferendis sint maxime vero sapiente aperiam quod, deserunt culpa
          nostrum ipsa. Mollitia, sequi enim dolore molestias voluptatum esse
          ipsum placeat praesentium! Saepe quod voluptatem earum ea nemo omnis
          praesentium ad necessitatibus ratione reprehenderit.
        </p>
        <a href="#" class="btn btn-outline-primary">Read More</a>
      </div>
    </div>
  </div>
</div>
