<div
  class="d-flex min-vh-100"
  lc-helper="background"
  style="
    background: url(https://images.unsplash.com/photo-1605792657660-596af9009e82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=802&q=80)
      center / cover no-repeat;
    background-color: #444;
    background-blend-mode: overlay;
  "
>
  <div class="align-self-center text-center text-light col-md-8 offset-md-2">
    <div class="lc-block mb-4">
      <div editable="rich">
        <h1 class="display-1 fw-bolder">
          Buy, trade, and hold 600+ cryptocurrencies on News-Asix
        </h1>
      </div>
    </div>

    <div class="lc-block">
      <div editable="rich">
        <h1 class="lead fw-bolder">Trade Bitcoin For Free</h1>

        <button type="button" class="btn btn-warning mt-3 fs-4">
          Get Started
        </button>
      </div>
    </div>
  </div>
</div>
